* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Initial presets for webpage */

@font-face {
    font-family: "main";
    src: url(Fonts/intrepid.ttf);
}

:root {
    --Highlight: #8cecf7;
}

html {
    font-family: 'main',Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 10%;
    background-color: black;
}

body {
    background-color: white;
    padding: 10px 0 100px 0;
    border-radius: 20px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    padding: 20px 20px 0 20px;
    letter-spacing: 1px;
}

h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--Highlight);
}

h2 {
    padding: 30px 20px 20px 20px;
}

h3 {
    padding: 0 20px 20px 20px;
}

.ans {
    font-size: x-large;
    font-weight: bolder;
}

.ans:hover {
    color: grey;
}

p {
    font-weight: lighter;
    padding: 20px 10px 20px 10px;
}

.buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

button {
    border-style: solid;
    border-width: 3px;
    font-family: 'main',Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 10px;
    border-color: var(--Highlight);
    color: white;
    background-color: black;
    margin: 5px 35% 5px 35%;    
}

button:hover {
    background-color: rgb(49, 49, 49);
}

button:active {
    background-color: var(--Highlight);
}

input {
    padding: 10px;
    font-family: 'main',Arial, Helvetica, sans-serif ;
    font-size: large;
    text-align: center;
}